# Environment files
.env
Backend/.env
ML/.env

# Node modules
Backend/node_modules/
Frontend/node_modules/

# Uploaded documents
Backend/uploads/

# Python cache
__pycache__/
*.pyc

# Python virtual environment
venv/
.venv/
env/

# VS Code
.vscode/

# IntelliJ / PyCharm
.idea/

# Logs
*.log
Backend/.uploads/*
!Backend/.uploads/.gitkeep
Backend/test-api-auth.js
Backend/test-api.js
Backend/test-date.js
Backend/test-date2.js
Backend/test-gemini-ipv4.js
Backend/test-gemini.js
Backend/test-https.js
Backend/test-models.js
Backend/test-query-app.js
Backend/test-query.js
Backend/test-recent.js
Backend/test-track.js
Backend/generatehash.js